{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "^<THIRD_PARTY_MODULES>",
    "^lib/(.*)$",
    "^layouts/(.*)$",
    "^components/(.*)$",
    "^styles[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
